
<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" href="../../static/scoutapp2018/style.css">
	</head>
	<body>
		<h1>Register</h1>
                <form action="/scout/scout_register/" method="post">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                        {{ field.help_text }}<br />
                        {{field }}<br />
                {% endfor %}

                <input type="submit" value="register" />

	</body>
</html>
