<!DOCTYPE html>

<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Auto</title>
    <link rel="stylesheet" type="text/css" href="../../static/scoutapp2018/style.css">
  </head>

  <body>
    <form action="/scout/scout_auto/" method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
              {{ field.errors }}
              {{ field.help_text }}<br />
              {{field }}<br />
      {% endfor %}
    <input type="submit" value="submit auto" />
  </body>

</html>
