<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout Teleop</title>
    <link rel="stylesheet" type="text/css" href="../../static/scoutapp2018/style.css?rand=2222">
  </head>
  <body>
  <div id="wrapper">
    <h1>Team {{team}} in match {{match_number}}</h1>

    <table>
      <tr><td><h3 id = "timer">Time: 0</h3></td></tr>
      <tr>
        <td><input type="button" onclick="startTimer()" id="timer-start" value="Cube Picked Up"></input></td>
        <td>
          <table>
            <tr><td><input type="button" onclick="stopTimer('switch')" id="switch-place" value = "Switch" disabled></input></td></tr>
            <tr><td><input type="button" onclick="stopTimer('scale')" id="scale-place" value = "Scale" disabled></input></td></tr>
            <tr><td><input type="button" onclick="stopTimer('opp_switch')" id="switch-blocked" value = "Opponent's Switch" disabled></input></td></tr>
            <tr><td><input type="button" onclick="stopTimer('exchange')" id="cube-exchanged" value = "Exchanged" disabled></input></td></tr>
            <tr><td><input type="button" onclick="stopTimer('end')" id="match-ended" value = "Match Ended" disabled></input></td></tr>
          </table>
        </td>
      </tr>
    </table>

    <script>
      var cubePickedUp = false;
      var times = [];
      var time = 0;
      var switchPlaces = 0;
      var scalePlaces = 0;
      var cubeDrops = 0;
      var exchanges = 0;

      var timerHandler;

      function startTimer() {
        timerHandler = setInterval(timer, 10);
        cubePickedUp = true
      }

      function stopTimer(location) {
        if(location == "switch") {
          switchPlaces++;
          times.push(["Switch:" + switchPlaces, time]);
        } else if(location == "scale") {
          scalePlaces++;
          times.push(["Scale:" + scalePlaces, time]);
        } else if(location == "exchange") {
          exchanges++;
          times.push(["Exchange:" + exchanges, time]);
        } else if(location == "end") {
          times.push(["End:", time]);
        } else if(location == "opp_switch") {
          times.push(["Opp-Switch:", time])
        } else {
          cubeDrops++;
          times.push(["Drop:" + cubeDrops, time]);
        }
        cubePickedUp = false;

        document.getElementById("id_times").value = times.join("]");
        clearInterval(timerHandler);
        time = 0;
        document.getElementById("timer-start").disabled = false;
        document.getElementById("switch-place").disabled = true;
        document.getElementById("scale-place").disabled = true;
        document.getElementById("cube-dropped").disabled = true;
        document.getElementById("cube-exchanged").disabled = true;
        document.getElementById("switch-blocked").disabled = true;
        document.getElementById("match-ended").disabled = true;
      }

      function timer() {
        cubePickedUp = true;
        if(cubePickedUp == true) {
          time += .01;
          document.getElementById("timer").innerHTML = "Time: " + time;
          document.getElementById("timer-start").disabled = true;
          document.getElementById("switch-place").disabled = false;
          document.getElementById("scale-place").disabled = false;
          document.getElementById("cube-dropped").disabled = false;
          document.getElementById("cube-exchanged").disabled = false;
          document.getElementById("match-ended").disabled = false;
          document.getElementById("switch-blocked").disabled = false;
        }
      }
    </script>

    <h5 id = "time-list"></h5>

  </div>
    <!--every time a cycle is clocked the JS can write to a form field... make the field hidden-->

    <form action="/scout/scout_teleop/" method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
              {{ field.errors }}
              {{ field.help_text }}<br />
              {{field }}<br />
      {% endfor %}
    <input type="submit" value="submit times" />
  </body>
</html>
